{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2,
        "no-unused-vars": ["error", { "varsIgnorePattern": "React" }]
    },
    "globals": {
        "Promise": 1,
        "panto": 1,
        "Map": 1
    }
}